.about-page {
  .about-card {
    position: relative;
    top: 25vh;
    border: none;
    img {
      float: right
    }
  }
  article {
    padding: 5px 30px;
    position: relative;
    top: 22vh;
    margin: 0 auto;
    background-color: rgb(172, 0, 187);
    border: 5px dotted purple;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 4;
    h2 {
      text-align: center;
    }
    p {
      font-family: 'Roboto Mono', monospace;;
    }
    h3 {
      display: inline;
    }
  }
  .contact-card {
    margin-top: 0;
  }
}