.about-page {
  .about-header {
    h1 {
      width: 100%;
      position: absolute;
      top: 23vh;
      font-size: 3.5em;
      text-align: center;
      text-decoration: underline;
    }
  }
  .about-card {
    position: absolute;
    top: 40vh;
    border: none;
    img {
      float: right
    }
  }
  article {
    padding: 1rem 2rem;
    margin: 0px auto 30px auto;

    background-color: rgb(164, 18, 177);
    border: 5px dotted purple;
    border-radius: 10px;
    width: 60%;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
    z-index: 4;
    h2 {
      text-align: center;
      margin: 5px
    }
    p {
      font-family: 'Roboto Mono', monospace;;
    }
    h3 {
      display: inline;
    }
  }
}