.contact-page {
  .contact-header {
    div {
      width: 80vw;
      left: 10vw;
      position: absolute;
      top: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 3.5em;
        text-decoration: underline;
        margin-left: 2rem;
        text-align: center;
      }
      img {
        width: 200px;
        z-index: 4;
      }

    }
  }
  section {
    width: 94vw;
    position: absolute;
    top: 40vh;
    left: 3vw;
    background-color: rgba(255, 95, 204, 0.3);
    z-index: 3;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    line-height: 1.7em;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    a, .resume-button-container {
      width: 80vw;
      margin: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      align-items: center;
      color: inherit;
      text-shadow: inherit;
      h2 {
        text-align: right;
      }
      button {
        width: 0;
        padding: 0;
      }
      img {
        width: 70px;
        margin-left: 1rem
      }
    }
  }
}