.navigation {
  position: fixed;
  width: 100vw;
  padding: 1rem 10vw 0 10vw;
  height: 8rem;
  background-color: rgba(128, 0, 128, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  text-align: center;
  z-index: 6;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.05s;
  }
  h4 {
    width: 80px;
    height: 16px;
    position: relative;
    top: -50%;
    background-color: rgba(255, 235, 205, 0.8);
    line-height: 1em;
    letter-spacing: 0.06em;
    font-weight: normal;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100px;
    filter: drop-shadow(2px 2px 4px rgba(215, 11, 167, 0.4));
  }
  .contact {
    img {
      filter: brightness(90%);
    }
  }
}