@mixin rotate($degrees, $x, $y) {
  -webkit-transform: rotate(#{$degrees}deg) translate($x, $y);
  -moz-transform: rotate(#{$degrees}deg) translate($x, $y);
  -ms-transform: rotate(#{$degrees}deg) translate($x, $y);
  transform: rotate(#{$degrees}deg) translate($x, $y);
}
@mixin scale($amount) {
  -webkit-transform: scale($amount);
  -moz-transform: scale($amount);
  -ms-transform: scale($amount);
  transform: scale($amount);
}
@mixin stopAnimation {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin hover($direction) {
  animation: hover#{$direction} infinite ease-in-out 1.5s both $direction;
  @include keyframes(hover#{$direction}) {
    0% { @include rotate(0, 0, 0)}
    10% { @include rotate(0, 0, -0.5px)}
    20% { @include rotate(0, 0, -1px)}
    30% { @include rotate(-0.05, 0, -1.5px)}
    40% { @include rotate(-0.07, 0, -2px)}
    50% { @include rotate(-0.1, 0, -2.5px)}
    60% { @include rotate(-0.07, 0, -2px)}
    70% { @include rotate(-0.05, 0, -1.5px)}
    80% { @include rotate(0, 0, -1px)}
    90% { @include rotate(0, 0, -0.5px)}
    100% { @include rotate(0, 0, 0)}
  }
}
@mixin shakeAnimation($startdeg, $delay) {
  animation: shake#{$startdeg} infinite ease-out 10s $delay alternate both;
  @include keyframes(shake#{$startdeg}) {
    0% { @include rotate($startdeg, 0px, 0px);}
    90% { @include rotate($startdeg, 1px, 1px);}
    91% { @include rotate($startdeg - 1, -1px, -2px); }
    92% { @include rotate($startdeg + 1, -3px, 0px); }
    93% { @include rotate($startdeg, 3px, 2px); }
    94% { @include rotate($startdeg + 1, 1px, -1px); }
    95% { @include rotate($startdeg - 1, -1px, 2px); }
    96% { @include rotate($startdeg, -3px, 1px); }
    97% { @include rotate($startdeg - 1, 3px, 1px); }
    98% { @include rotate($startdeg + 1, -1px, -1px); }
    99% { @include rotate($startdeg, 1px, 2px); }
    100% { @include rotate($startdeg - 1, 1px, -2px); }
  }
}

.home-header {
  .scott-harlan {
    @include hover(normal)
  }
  p {
    @include hover(reverse)
  } 
  .navigation {
    .home {
      @include shakeAnimation(0, 10s);
    }
    .about {
      @include shakeAnimation(0, 15s);
    }
    .projects{
      @include shakeAnimation(0, 20s);
    }
    .contact {
      @include shakeAnimation(0, 25s);
    }
  }
  .navigation-home {
    .home {
      position: relative;
      top: 27vh;
      left: -5vw;
      @include shakeAnimation(-8, 10s);
    }
    .about {
      position: relative;
      top: 5vh;
      left: -15vw;
      @include shakeAnimation(-4, 15s);
    }
    .projects{
      position: relative;
      top: 5vh;
      right: -15vw;
      @include shakeAnimation(4, 20s);
    }
    .contact {
      position: relative;
      top: 27vh;
      right: -5vw;
      @include shakeAnimation(8, 25s);
    }

  }
}
.highlighted-projects {
  .project-div {
    div {
      @include rotate(-5, -50px, 12px);
    }
  }
  .project-div-right {
    div {
      @include rotate(5, -50px, 12px);
    }
  }
}
.water-bg {
  @include hover(normal)
}
.arrow-container {
  @include hover(normal);
  .left-arrow {
    @include shakeAnimation(160, 30s)
  }
  .right-arrow {
    @include shakeAnimation(-160, 30s)
  }
}
.entry-image {
  @include shakeAnimation(-10, -1s)
}
.project-div:hover, .project-div-right:hover {
  article {
    opacity: 1;
  }
}
.home:hover, .about:hover, .projects:hover, .contact:hover, .linkedin:hover, .github:hover, .email:hover, .resume-button-container:hover, .modal-button:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}
.home:active, .about:active, .projects:active, .contact:active, .linkedin:active, .github:active, .email:active, .resume-button-container:active, .modal-button:active {
  @include stopAnimation();
  @include scale(0.9);
  filter: drop-shadow(0 0);
}
.navigation-home .home:active, .navigation-home .about:active, .navigation-home .projects:active, .navigation-home .contact:active {
    @include stopAnimation();
    @include scale(0.9);
    filter: drop-shadow(0 0);
  }
.project-div:hover, .project-div-right:hover {
  aside {
    display: block;
  }
}

