@media only screen and (max-width: 420px) {
  .navigation {
    height: 4.6rem;
    top: -0.5rem;
    h4 {
      width: 50px;
      font-size: 0.7rem;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .home-header {
    .scott-harlan {
      width: 80vw;
      min-width: 280px; 
    }
    p {
      font-size: 1.05rem;
      min-width: 90vw;
    }
  }
  .arrow-container {
    margin: 0;
    img {
      width: 4rem;
      height: 4rem
    }
  }
  .about-card {
    padding: 0 1rem;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    img {
      width: 100px;
    }
  }
  .highlighted-projects {
    width: 92%;
    header {
      h1 {
        font-size: 2em;
      }
      img {
        width: 100px
      }
    }
    %project {
      article {
        display: none;
      }
      img {
        width: 70vw;
      }
      section {
        margin: 0 auto;
        width: 80vw !important
      }
      div {
        width: 86vw;
        transform: translate(-3.15rem, 0.5rem);
        height: auto;
        padding: 0;
        h3 {
          margin: 0;
          font-size: 1.5rem;
        }
      }
    }
    .project-div {
      @extend %project;
    }
    .project-div-right {
      @extend %project;
      section {
        right: 0px !important
      }
    }
  }
  .contact-card {
    padding: 0;
    header {
      h1 {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
      img {
        width: 60px
      }
    }
    img {
      width : 30px
    }
  }
  .about-page {
    .about-header {
      h1 {
        font-size: 2.5rem;
        top: 10vh
      }
      .about-card {
        top: 30vh;
        max-height: 50vh;
        margin: 1rem;
      }
    }
    article {
      margin: -0.3rem auto;
      padding: 0 0.7rem;
      width: 95%;
      p {
        font-size: 0.8rem;
      }
    }
  }
  .contact-page {
    .contact-header {
      div {
        top: 11vh;
        h1 {
          font-size: 2.5rem;
          text-align: center;
        }
        img {
          width: 100px
        }
      }
    }
    section {
      width: 90vw;
      left: 5vw; 
      padding: 1rem;
      a, .resume-button-container {
        width: 85vw;
        margin: 0;
        grid-template-columns: 2fr 1fr;
        h2 {
          font-size: 1.3rem;
        }
        img {
          width: 50px
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}