@media only screen and (max-width: 420px) {
  #entry-text {
    font-size: 2rem;
  }
  .navigation {
    height: 4.6rem;
    top: -0.5rem;
    h4 {
      width: 3.5rem;
      height: 0.9rem;
      font-size: 0.8rem;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .home-header {
    .scott-harlan {
      width: 80vw;
      min-width: 280px; 
    }
    p {
      font-size: 1.05rem;
      min-width: 90vw;
    }
  }
  .arrow-container {
    margin: 0;
    img {
      width: 4rem;
      height: 4rem
    }
  }
  .about-card {
    padding: 0 1rem;
    margin: 0 0.5rem;
    font-size: 0.8rem;
    min-height: 50vh;
    img {
      width: 100px;
    }
  }
  .highlighted-projects {
    width: 92%;
    header {
      h1 {
        font-size: 2em;
      }
      img {
        width: 100px
      }
    }
    %project {
      flex-direction: column;
      article {
        display: none;
      }
      aside {
        display: none;
        position: relative;
        top: -1.3rem;
        width: 85vw;
        padding: 0 1rem;
        background-color: rgba(255, 95, 204, 0.3);
        border: 5px dotted purple;
        border-radius: 5px;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
        font-size: 0.9rem;
        line-height: 1.3rem;
        transition: 0.2s;
      }
      img {
        width: 70vw;
      }
      section {
        margin: 0 auto;
        width: 80vw !important
      }
      div {
        width: 86vw;
        transform: translate(-3.15rem, 0.5rem);
        height: auto;
        padding: 0;
        h3 {
          margin: 0;
          font-size: 1.5rem;
        }
      }
    }
    .project-div {
      @extend %project;
    }
    .project-div-right {
      @extend %project;
      section {
        right: 0px !important
      }
    }
  }
  .project-page {
    .highlighted-projects {
      top: 4rem
    }
    .contact-card {
      top: 4rem
    }
  }
  .contact-card {
    padding: 0;
    header {
      h1 {
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
      img {
        width: 60px
      }
    }
    img {
      width : 30px
    }
  }
  .about-page {
    .about-header {
      h1 {
        font-size: 2.5rem;
        top: 12vh
      }
      .about-card {
        top: 30vh;
        max-height: 50vh;
        margin: 1rem;
      }
    }
    article {
      margin: 0 auto;
      padding: 0.5rem 1.2rem;
      width: 95%;
      p {
        font-size: 0.8rem;
      }
    }
  }
  .contact-page {
    .contact-header {
      div {
        top: 11vh;
        h1 {
          font-size: 2rem;
          text-align: center;
        }
        img {
          width: 100px
        }
      }
    }
    section {
      width: 90vw;
      left: 5vw; 
      padding: 1rem;
      a, .resume-button-container {
        width: 85vw;
        margin: 0;
        grid-template-columns: 2fr 1fr;
        h2 {
          font-size: 1.3rem;
        }
        img {
          width: 50px
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .project-div:hover, .project-div-right:hover {
    aside {
      display: block;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .highlighted-projects {
    width: 90%;
  }
}
@media only screen and (max-height: 750px) and (min-width: 420px){
  .home-header {
    p {
      display: none;
    }
  }
  .contact-page {
    section {
      top: 45vh;
      width: 90vw;
      left: 5vw; 
      padding: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      a, .resume-button-container {
        width: 38vw;
        margin: 1rem;
        grid-template-columns: 2fr 1fr;
        h2 {
          font-size: 1.5rem;
        }
        img {
          width: 70px
        }
      }
    }
  }
}

@media only screen and (orientation: landscape) and (max-height: 420px) {
  #entry-text {
    font-size: 2rem;
  }
  .entry-image {
    margin-left: -1rem;
  }
  .navigation {
    height: 4.6rem;
    h4 {
      width: 4rem;
      height: 1rem;
      font-size: 0.9rem;
    }
    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  .contact-card {
    header {
      h1 {
        font-size: 1.5rem;
      }
      img {
        width: 60px
      }
    }
    img {
      width: 40px
    }
  }
  .home-header {
    p {
      display: none;
    }
  }
  .arrow-container {
    margin: 0;
    img {
      width: 4rem;
      height: 4rem
    }
  }
  .about-card {
    max-height: 80vh !important;
    font-size: 0.8rem;
    img {
      width: 100px
    }
  }
  .highlighted-projects {
    width: 95%;
    header {
      h1 {
        font-size: 2em;
      }
      img {
        width: 100px
      }
    }
    article {
      padding: 0;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }
  }
  .project-page {
    .highlighted-projects {
      top: 4rem
    }
    .contact-card {
      top: 4rem;
    }
  }
  .about-page {
    .about-header {
      h1 {
        top: 10vh;
        font-size: 2.3rem;
      }
    }
    .about-card {
      top: 32vh;
      height: 50vh;
    }
    article {
      width: 95%;
      p {
        font-size: 0.8rem;
      }
    }
  }
  .contact-page {
    .contact-header {
      div {
        top: 17vh;
        h1 {
          font-size: 2rem;
          text-align: center;
        }
        img {
          width: 90px
        }
      }
    }
    section {
      top: 45vh;
      width: 90vw;
      left: 5vw; 
      padding: 0rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      a, .resume-button-container {
        width: 45vw;
        margin: 0;
        grid-template-columns: 2fr 1fr;
        h2 {
          font-size: 1.3rem;
        }
        img {
          width: 50px
        }
      }
    }
  }
}