.navigation {
  position: fixed;
  top: -0.5rem;
  left: 0.5vw;
  width: 99vw;
  padding: 1rem 5vw 0 5vw;
  margin: 0 auto;
  height: 8rem;
  background-color: rgba(128, 0, 128, 0.7);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 5;
}
.navigation a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.05s;
}
.navigation h4 {
  width: 80px;
  height: 16px;
  position: relative;
  top: -50%;
  background-color: rgba(255, 235, 205, 0.8);
  line-height: 1em;
  letter-spacing: 0.06em;
  font-weight: normal;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.navigation img {
  width: 100px;
  height: 100px;
  filter: drop-shadow(2px 2px 4px rgba(215, 11, 167, 0.4));
}
.navigation .contact img {
  filter: brightness(90%);
}

.about-page .about-header h1 {
  width: 100%;
  position: absolute;
  top: 15vh;
  font-size: 3.5em;
  text-align: center;
  text-decoration: underline;
}
.about-page .about-card {
  position: absolute;
  top: 35vh;
  border: none;
}
.about-page .about-card img {
  float: right;
}
.about-page article {
  padding: 1rem 2rem;
  margin: 0px auto 30px auto;
  background-color: #a412b1;
  border: 5px dotted purple;
  border-radius: 10px;
  width: 85%;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 4;
}
.about-page article h2 {
  text-align: center;
  margin: 5px;
}
.about-page article p {
  font-family: "Roboto Mono", monospace;
}
.about-page article h3 {
  display: inline;
}

.contact-page .contact-header div {
  width: 80vw;
  left: 10vw;
  position: absolute;
  top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page .contact-header div h1 {
  font-size: 3.5em;
  text-decoration: underline;
  margin-left: 2rem;
  text-align: center;
}
.contact-page .contact-header div img {
  width: 200px;
  z-index: 4;
}
.contact-page section {
  width: 94vw;
  position: absolute;
  top: 40vh;
  left: 3vw;
  background-color: rgba(255, 95, 204, 0.3);
  z-index: 3;
  padding: 10px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  line-height: 1.7em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-page section a, .contact-page section .resume-button-container {
  width: 80vw;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  color: inherit;
  text-shadow: inherit;
}
.contact-page section a h2, .contact-page section .resume-button-container h2 {
  text-align: right;
}
.contact-page section a button, .contact-page section .resume-button-container button {
  width: 0;
  padding: 0;
}
.contact-page section a img, .contact-page section .resume-button-container img {
  width: 70px;
  margin-left: 1rem;
}

.entry-container {
  transition: 2s ease-in;
  z-index: 12;
  background-color: rgba(128, 0, 128, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.entry-container .entry-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
  height: auto;
  width: 20vw;
  max-width: 300px;
  min-width: 120px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2));
}
.entry-container .entry-button {
  z-index: 13;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 1.5rem;
  width: 2rem;
  background-color: rgba(255, 192, 203, 0.7);
  border: 2px dotted purple;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1rem;
  outline: none;
  cursor: pointer;
}

.Typist {
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.Typist div {
  margin: 2.5vh auto;
  padding: 20vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 12;
  background-color: #ce244b;
  background-image: linear-gradient(to bottom, #ce2490, purple);
  border: 8px double rgba(230, 172, 24, 0.9);
  border-radius: 1rem;
  width: 95vw;
  height: 95vh;
}
.Typist div p {
  text-align: center;
  font-size: 2.5rem;
}

.contact-card, .about-card {
  background-color: rgba(255, 95, 204, 0.3);
  z-index: 3;
  margin: 0 5vw;
  padding: 10px 40px 10px 40px;
  border: 10px double rgba(218, 165, 32, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  line-height: 1.7em;
  overflow: hidden;
}

.contact-card header, .highlighted-projects header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.contact-card header h1, .highlighted-projects header h1 {
  text-decoration: underline;
  font-size: 3em;
}
.contact-card header img, .highlighted-projects header img {
  width: 180px;
}

body {
  background-color: #ac00bb;
  font-family: "Oleo Script", cursive;
  color: rgba(255, 235, 205, 0.9);
  text-shadow: 2px 2px 3px rgba(70, 0, 140, 0.7);
}

canvas {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.6;
}

a {
  text-decoration: none;
  text-shadow: none;
}

.home-header, .about-header, .contact-header {
  background: linear-gradient(to bottom, rgba(255, 95, 204, 0.3), #ac00bb);
  height: 100vh;
}

.home img {
  filter: brightness(0.9);
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.home-header .navigation-home {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0;
}
.home-header .navigation-home img {
  width: 15vw;
  height: auto;
  max-width: 180px;
}
.home-header .navigation-home h4 {
  top: -70%;
}
.home-header .scott-harlan {
  width: 50vw;
  min-width: 350px;
  max-width: 600px;
  position: absolute;
  top: 20vh;
  z-index: 2;
  filter: drop-shadow(1px 7px 5px rgba(91, 13, 91, 0.2));
}
.home-header p {
  width: 60%;
  min-width: 350px;
  position: absolute;
  margin-top: 100px;
  bottom: 10vh;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  line-height: 2.5em;
  color: rgba(255, 235, 205, 0.9);
  z-index: 3;
}

.about-card {
  font-family: "Roboto Mono", monospace;
  margin-top: 0;
  max-height: 45vh;
  overflow: scroll;
  overflow-x: hidden;
}
.about-card img {
  float: left;
  width: 200px;
}

.highlighted-projects {
  background-color: rgba(128, 0, 128, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px 2rem;
  margin-top: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.highlighted-projects h1 {
  text-align: center;
}
.highlighted-projects header {
  border-top: 5px dotted purple;
}
.highlighted-projects h5 {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-style: italic;
  margin: 0;
  font-size: 0.9em;
}
.highlighted-projects .project-div-right, .highlighted-projects .project-div {
  width: 95%;
  margin: 40px auto;
  min-height: 250px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.highlighted-projects .project-div-right div, .highlighted-projects .project-div div {
  width: 300px;
  height: 50px;
  padding: 0 20px;
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 95, 204, 0.3);
  border-radius: 10px;
  border: 5px double rgba(218, 165, 32, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.highlighted-projects .project-div-right article, .highlighted-projects .project-div article {
  border: 5px dotted purple;
  border-radius: 5px;
  padding: 0 10px 0 25px;
  max-height: 230px;
  position: relative;
  top: 30px;
  background-color: rgba(255, 95, 204, 0.3);
  transition: 0.2s;
  opacity: 0;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
.highlighted-projects .project-div-right img, .highlighted-projects .project-div img {
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.highlighted-projects .project-div-right h3, .highlighted-projects .project-div h3 {
  font-family: "Oleo Script", cursive;
  font-size: 2em;
  margin-right: 10px;
}
.highlighted-projects .project-div-right a, .highlighted-projects .project-div a {
  font-family: "Oleo Script", cursive;
}
.highlighted-projects .project-div article {
  margin-left: -5rem;
}
.highlighted-projects .project-div-right section {
  position: relative;
  right: -4.5rem;
}
.highlighted-projects .project-div-right article {
  margin-right: -5rem;
  z-index: 2;
}

.project-page .highlighted-projects {
  position: relative;
  top: 8rem;
}
.project-page .contact-card {
  position: relative;
  top: 8rem;
}
.project-page .more-projects {
  margin: 0;
}

.contact-card {
  margin: 0.5rem;
}
.contact-card header {
  padding: 0;
  justify-content: center;
}
.contact-card header h1 {
  font-size: 2rem;
}
.contact-card header img {
  filter: brightness(80%);
  width: 100px;
}
.contact-card section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.contact-card img {
  width: 50px;
}

.resume {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

.resumeImage {
  height: 80vh;
}

.modal-button {
  font-family: "Oleo Script", cursive;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.ReactModal__Overlay {
  z-index: 5;
}

.grid {
  width: 100vw;
  max-height: 40vh;
  z-index: 0;
  position: absolute;
  bottom: 0;
  opacity: 0.6;
}

.water-bg {
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  z-index: -3;
  position: fixed;
  left: 0;
  top: 0;
}

.arrow-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 0rem auto;
  padding: 0 5vw;
  overflow: hidden;
}
.arrow-container img {
  width: 7rem;
  height: 7rem;
  filter: brightness(0.75);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(121, 20, 118, 0.5);
  border-radius: 40%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(121, 20, 118, 0.7);
}

/*# sourceMappingURL=App.css.map */
