.navigation {
  position: absolute;
  top: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  z-index: 2;
}
.navigation a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 0.05s;
}
.navigation h4 {
  width: 80px;
  height: 16px;
  position: relative;
  top: -50%;
  background-color: rgba(255, 235, 205, 0.6);
  line-height: 1em;
  letter-spacing: 0.06em;
  font-weight: normal;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.navigation img {
  width: 15vw;
  max-width: 200px;
  filter: drop-shadow(2px 2px 4px rgba(215, 11, 167, 0.4));
}

.home-contact, .home-about {
  background-color: rgba(255, 95, 204, 0.3);
  z-index: 3;
  margin: 10px 40px;
  padding: 10px 40px 10px 40px;
  border: 10px double rgba(218, 165, 32, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  line-height: 1.7em;
  overflow: hidden;
}

.home-contact header, .home-projects header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.home-contact header h1, .home-projects header h1 {
  text-decoration: underline;
  font-size: 3em;
}
.home-contact header img, .home-projects header img {
  width: 180px;
}

body {
  background-color: #ac00bb;
  font-family: "Oleo Script", cursive;
  color: rgba(255, 235, 205, 0.9);
  text-shadow: 2px 2px 3px rgba(70, 0, 140, 0.7);
}

canvas {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 95vh;
  z-index: -1;
  opacity: 0.6;
}

a {
  text-decoration: none;
  text-shadow: none;
}

.home-header {
  background: linear-gradient(to bottom, rgba(255, 95, 204, 0.3), #ac00bb);
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.home-header .scott-harlan {
  width: 50vw;
  min-width: 350px;
  max-width: 600px;
  position: absolute;
  top: 20vh;
  z-index: 2;
  filter: drop-shadow(1px 7px 5px rgba(91, 13, 91, 0.2));
}
.home-header p {
  width: 60%;
  min-width: 350px;
  position: relative;
  margin-top: 100px;
  bottom: -240px;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  line-height: 2.5em;
  color: rgba(255, 235, 205, 0.9);
}
.home-header .grid {
  width: 100vw;
  max-height: 40vh;
  z-index: 0;
  position: absolute;
  bottom: 5vh;
  opacity: 0.6;
}

.home-about {
  font-family: "Roboto Mono", monospace;
}
.home-about img {
  float: left;
}

.home-projects {
  background-color: rgba(128, 0, 128, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px 60px;
  margin-top: 10px;
}
.home-projects header {
  border-top: 5px dotted purple;
}
.home-projects h5 {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  font-style: italic;
  margin: 0;
  font-size: 0.9em;
}
.home-projects .project-div-right, .home-projects .project-div {
  width: 95%;
  margin: 40px auto;
  min-height: 250px;
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-projects .project-div-right div, .home-projects .project-div div {
  width: 300px;
  height: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 95, 204, 0.3);
  border-radius: 10px;
  border: 5px double rgba(218, 165, 32, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.home-projects .project-div-right article, .home-projects .project-div article {
  width: 80%;
  border: 5px dotted purple;
  border-radius: 5px;
  padding: 0 10px 0 25px;
  position: relative;
  top: 30px;
  background-color: rgba(255, 95, 204, 0.3);
  transition: 0.2s;
  opacity: 0;
}
.home-projects .project-div-right img, .home-projects .project-div img {
  width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.home-projects .project-div-right h3, .home-projects .project-div h3 {
  font-family: "Oleo Script", cursive;
  font-size: 2em;
  margin-right: 10px;
}
.home-projects .project-div-right a, .home-projects .project-div a {
  font-family: "Oleo Script", cursive;
}
.home-projects .project-div article {
  left: -120px;
}
.home-projects .project-div-right section {
  position: relative;
  right: -100px;
  margin-right: 10px;
}
.home-projects .project-div-right article {
  right: -120px;
  z-index: 2;
}

.home-contact header {
  padding: 0;
}

.water-bg {
  width: 100vw;
  height: 100vh;
  opacity: 0.1;
  z-index: -3;
  position: fixed;
  left: 0;
  top: 0;
}

/*# sourceMappingURL=App.css.map */
